<nav>
  <div class="container">
    <div class="content">
      <div style="display: flex; align-items: center;">
        <img src="https://cdn-icons-png.flaticon.com/512/8921/8921040.png" alt="User Icon" width="60" height="60">
       &nbsp;&nbsp;&nbsp; <h1 style="color: rgb(136, 178, 226);">Admin Space</h1>
      </div>
      
      <ul>
        <li routerLink="/admin">
          <img src="https://cdn-icons-png.flaticon.com/256/4542/4542211.png" alt="User Icon" width="30" height="30"/>
          Teacher-Registration</li>
          <li routerLink="/admin/all">
            <img src="https://cdn-icons-png.flaticon.com/512/1914/1914882.png" alt="User Icon" width="30" height="30"/>
            All-Teachers</li>
        <li routerLink="">
          <img src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png" alt="User Icon" width="30" height="30"/>
          Log Out</li>
      </ul>
    </div>
  </div>
</nav>
