<nav>
  <div class="container">
    <div class="content">
      <div style="display: flex; align-items: center;">
        <img src="https://t3.ftcdn.net/jpg/01/90/50/48/360_F_190504871_cuEc8CpAKYXiFGZD9zRfNRBTGT6V8EDa.jpg" alt="User Icon" width="80" height="40">
       &nbsp;&nbsp;&nbsp; <h3 style="color: rgb(40, 212, 31);">Professeur {{InfoProf[0].fullname}}</h3>
      </div>
      
      <ul>
        <li></li>
        <li routerLink="">
          <img src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png" alt="User Icon" width="30" height="30"/>
          Log Out</li>
      </ul>
    </div>
  </div>
</nav>
